/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

input,
button {
  border: none;
  background-color: transparent;
}

body {
  width: 100vw;
  padding: 0 0;
}

body {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.btn {
  width: 75%;
  min-width: min-content;
  max-width: 100px;
  height: 2.5rem;
  margin: 2rem 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 50px;
  color: white;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  text-align: center;
  vertical-align: middle;
}

.home__top {
  background-color: #eaeaea;
  padding: 0.5rem 0 3rem 0;
}

.location {
  width: 75%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0.5rem auto;
}
.location__button {
  padding-right: 0.8rem;
}
.location__input {
  width: 50%;
  font-weight: 500;
}

.search {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.search__title {
  margin: 2rem auto 0.8rem auto;
  width: 65%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}
.search__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 1rem;
}
.search__text {
  text-align: center;
}
.search__button {
  margin: auto;
}

.card {
  width: 98vw;
  height: 40vh;
  margin: 1rem;
  overflow: hidden;
  border-radius: 20px;
}
.card__image {
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.notice {
  padding: 3rem 1rem;
}
.notice__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.notice__step {
  display: flex;
  flex-flow: row nowrap;
}

.header__title {
  display: flex;
  justify-content: center;
  padding-top: 1.4rem;
  padding-bottom: 1rem;
  width: 100vw;
}
.header__logo {
  width: 50vw;
}

.footer {
  background-color: black;
  color: white;
}
.footer__logo {
  width: 25vw;
  padding: 1.2rem 1rem 0.3rem 1.5rem;
}
.footer__list {
  padding: 0.5rem 1rem 2.5rem 1.5rem;
}
.footer__item {
  padding: 0.4rem;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
