/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

input,
button {
  border: none;
  background-color: transparent;
}

body {
  width: 100vw;
  padding: 0 0;
}

body {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.btn {
  width: 75%;
  min-width: min-content;
  max-width: 100px;
  height: 2.5rem;
  margin: 2rem 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 50px;
  color: white;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 3px 4px 2px #e4e4e4;
}

.home__top {
  background: linear-gradient(90deg, #f1f1f1, #fbfbfb);
  padding-bottom: 3rem;
}
.home__first {
  background: linear-gradient(175deg, #e4e4e4, #e9e9e9);
  padding: 0.8rem 0;
  box-shadow: inset 0 1px 1px 1px #dddddd;
}

.location {
  width: 75%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0 auto;
}
.location__button {
  padding-right: 0.8rem;
}
.location__input {
  width: 50%;
  font-weight: 500;
}

.search {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.search__title {
  margin: 2rem auto 0.8rem auto;
  width: 65%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}
.search__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 1rem;
}
.search__text {
  text-align: center;
}
.search__button {
  margin: auto;
}

.notice {
  margin: 3rem 0;
}
.notice__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0 1rem;
}
.notice__steps {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.notice__step {
  display: inline-block;
  width: 90%;
}
.notice__number {
  display: flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  position: relative;
  top: 3.4rem;
  left: 0.3rem;
}
.notice__content {
  min-width: max-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0.2rem 1rem;
  padding: 2rem 1rem 1.5rem 2rem;
  border-radius: 20px;
  box-shadow: 0 3px 4px 2px #e4e4e4;
  font-weight: 700;
  background-color: #f6f6f6;
}
.notice__content--dif {
  background: linear-gradient(175deg, #ece1f9, #f2eafb);
}
.notice__icone {
  padding-right: 1rem;
  color: #777777;
}

.restaurants {
  background: linear-gradient(#f1f1f1, #fbfbfb);
  padding: 3.2rem 1rem;
}
.restaurants__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.restaurant__card {
  width: 90vw;
  height: 30vh;
  margin: 1rem auto;
  overflow: hidden;
  border-radius: 20px;
  background-color: white;
  padding-bottom: 1.2rem;
  box-shadow: 0 3px 4px 2px #e4e4e4;
}
.restaurant__image {
  width: 100%;
  height: 75%;
  overflow: hidden;
}
.restaurant__picture {
  width: 100%;
}
.restaurant__picture--1 {
  object-position: 0 -7vh;
}
.restaurant__picture--2 {
  object-position: 0 -20vh;
}
.restaurant__picture--3 {
  object-position: 0 -8vh;
}
.restaurant__picture--4 {
  object-position: 0 -8vh;
}
.restaurant__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.restaurant__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
.restaurant__icone {
  color: #777777;
}
.restaurant__icone:hover {
  background-clip: content-box;
  background: #9356dc;
}

.header__title {
  display: flex;
  justify-content: center;
  padding-top: 1.4rem;
  padding-bottom: 1rem;
  width: 100vw;
}
.header__logo {
  width: 50vw;
}

.footer {
  background-color: #333333;
  color: white;
}
.footer__logo {
  width: 25vw;
  padding: 1.2rem 1rem 0.3rem 1.5rem;
}
.footer__list {
  padding: 0.5rem 1rem 2.5rem 1.5rem;
}
.footer__item {
  padding: 0.4rem;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
