.btn {
  width: max-content;
  min-width: $part-w * 40;
  max-width: $part-w * 75;
  height: $gutter * 2.5;
  margin: $gutter * 2 $gutter 0 $gutter;
  padding: $gutter * 0.8 $gutter * 1.2;
  border-radius: $px * 50;
  color: $color-light;
  background: linear-gradient(175deg, $color-secondary, $color-primary);
  text-align: center;
  vertical-align: middle;
  @include shadow;
  &:hover {
    background: linear-gradient(
      175deg,
      lighten($color-secondary, 3%),
      lighten($color-primary, 3%)
    );
    @include shadowdark;
  }
  @include media-min(tablet) {
    min-width: $part-w * 30;
    height: $part-w * 8;
  }
  @include media-min(desktop) {
    min-width: $part-w * 20;
    height: $part-w * 5;
  }
}
