// TODO ATTENTION au z-index car impossible de cliquer en mobile sans ouvrir la page du restaurant
// TODO ne fonctionne pas en test réeel sur le mobile
.heart {
  &__icone {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
  }
  font-size: 1.5rem;
  color: darken($color-main, 50%);
  // configuration en tant qu'icône par fontawesome
  @include fa-icon;
  @extend %fa-icon;
  // icône de style regular de fontawesome (vide)
  @extend .far;
  &__regular {
    &:before {
      content: fa-content($fa-var-heart);
    }
    // remplissage du coeur au hover en vue desktop
    &:hover + {
      & .heart__solid {
        @include media-min(desktop) {
          transform: scale(1);
        }
      }
    }
    // remplissage du coeur au focus en vue mobile et tablette
    &:hover + {
      & .heart__solid {
        @include media-max(desktop) {
          transform: scale(1);
        }
      }
    }
  }
  &__solid {
    // icône de style solid de fontawesome (rempli)
    @extend .fas;
    background: linear-gradient(195deg, $color-primary, $color-secondary);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: transform 500ms ease-in-out;
    &:before {
      @extend .fas;
      content: fa-content($fa-var-heart);
    }
  }
}
