//TODO transition ou animation
icone {
  font-size: 1.5rem;
  color: darken($color-main, 50%);
  @include fa-icon;
  &:hover {
    @extend .fas;
    background: linear-gradient(195deg, $color-primary, $color-secondary);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.heart {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-heart);
  }
}
