.home {
  &__top {
    background: linear-gradient(
      90deg,
      darken($color-main, 2%),
      lighten($color-main, 2%)
    );
    padding-bottom: $gutter * 3;
  }
  &__first {
    background: linear-gradient(
      175deg,
      darken($color-main, 7%),
      darken($color-main, 5%)
    );
    padding: $gutter * 0.8 $gutter * 0;
    box-shadow: inset 0 1px 1px 1px darken($color-main, 10%);
  }
}

.location {
  width: $propor * 50;
  @include flexrownocenter;
  margin: $gutter * 0 auto;
  &__input {
    width: $part-w * 40;
    height: $part-w 8;
    text-align: center;
    &:placeholder-shown {
      text-overflow: ellipsis;
    }
    @include media-min(tablet) {
      width: $part-w * 30;
    }
    @include media-min(desktop) {
      width: $part-w * 15;
    }
  }
}

.search {
  width: $propor * 100;
  @include flexcolnocenter;
  &__title {
    margin: $gutter * 2 auto $gutter * 0.8 auto;
    width: $propor * 65;
    text-align: center;
    @include media-min(desktop) {
      width: $part-w * 15;
    }
  }
  &__content {
    @include flexcolnocenter;
    padding: $gutter * 0 $gutter $gutter $gutter;
    margin-bottom: $gutter;
  }
  &__text {
    text-align: center;
  }
  &__button {
    margin: auto;
  }
}

.notice {
  margin: $gutter * 3 0;
  @include media-min(tablet) {
    width: $part-w * 50;
    margin: $gutter * 3 auto;
  }
  &__title {
    padding: $gutter * 0 $gutter;
  }
  &__steps {
    @include flexcolnocenter;
    align-items: center;
  }
  &__step {
    display: inline-block;
    width: $propor * 90;
  }
  &__number {
    @include flexrownocenterdble;
    width: $gutter * 1.5;
    height: $gutter * 1.5;
    background-color: $color-primary;
    border-radius: $propor * 50;
    color: $color-light;
    position: relative;
    top: $gutter * 3.4;
    left: $gutter * 0.3;
  }
  &__content {
    min-width: max-content;
    @include flexrowno;
    justify-content: flex-start;
    margin: $gutter * 0.2 $gutter;
    padding: $gutter * 2 $gutter $gutter * 1.5 $gutter * 2;
    border-radius: $px * 20;
    @include shadow;
    background-color: $color-main;
    &--dif {
      background: linear-gradient(
        175deg,
        lighten($color-primary, 33%),
        lighten($color-primary, 35%)
      );
    }
  }
  &__icone {
    padding-right: $gutter;
    color: darken($color-main, 50%);
  }
}

.restaurants {
  background: linear-gradient(
    darken($color-main, 2%),
    lighten($color-main, 2%)
  );
  padding: $gutter * 3.2 $gutter;
  &__wrapper {
    @include media-min(desktop) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
  }
}
.restaurant {
  &__card {
    width: $part-w * 90;
    height: $part-w * 70;
    margin: $gutter auto;
    overflow: hidden;
    border-radius: $px * 20;
    background-color: $color-light;
    @include shadow;
    @include media-min(tablet) {
      height: $part-w * 50;
    }
    @include media-min(tabletxl) {
      width: $part-w * 70;
      height: $part-w * 30;
    }
    @include media-min(desktop) {
      width: $part-w * 40;
      height: $part-w * 20;
    }
    position: relative;
  }
  &__link {
    @include fullbox;
  }
  &__image {
    width: $propor * 100;
    height: $part-w * 50;
    overflow: hidden;
    @include media-min(tablet) {
      height: $part-w * 40;
    }
    @include media-min(tabletxl) {
      height: $part-w * 20;
    }
    @include media-min(desktop) {
      height: $part-w * 14;
    }
  }
  //placement des images sur les cartes des restaurants
  &__picture {
    &--1 {
      width: $propor * 103;
      object-position: $part-w * -2 $part-w * -12;
      @include media-min(desktop) {
        object-position: $part-w * 0 $part-w * -10;
      }
    }
    &--2 {
      width: $propor * 100;
      object-position: $part-w * 0 $part-w * -40;
      @include media-min(desktop) {
        object-position: $part-w * 0 $part-w * -22;
      }
    }
    &--3 {
      width: $propor * 110;
      object-position: $part-w * -2 $part-w * -16;
      @include media-min(desktop) {
        object-position: $part-w * -1 $part-w * -12;
      }
    }
    &--4 {
      width: $propor * 104;
      object-position: $part-w * -2 $part-w * -14;
      @include media-min(desktop) {
        object-position: $part-w * -2 $part-w * -12;
      }
    }
  }
  &__tag {
    display: inline;
    border-radius: $px * 2;
    width: max-content;
    padding: $gutter * 0.4 $gutter;
    position: absolute;
    top: $part-w * 3;
    right: $part-w * 2;
    text-align: center;
    &--new {
      background-color: $color-tertiary;
    }
  }
  //bas de la carte restaurant
  &__content {
    height: $part-w * 20;
    //
    @include flexrownobtw;
    align-items: center;
    padding: $gutter;
    @include media-min(tablet) {
      height: $part-w * 10;
    }
    @include media-min(tabletxl) {
      padding: $gutter * 1.2;
    }
    @include media-min(desktop) {
      height: $part-w * 5;
    }
  }
  &__text {
    height: $propor * 85;
    @include flexcolno;
    justify-content: space-evenly;
    @include media-min(desktop) {
      margin-left: $gutter * 2;
    }
  }
  // favori
  &__icon {
    //TODO voir pour faire un mixin avec une variable
    width: $part-w * 5;
    height: $part-w * 5;
    @include media-min(tablet) {
      //TODO voir pour faire un mixin avec une variable
      width: $part-w * 4;
      height: $part-w * 4;
    }
    @include media-min(tabletxl) {
      //TODO voir pour faire un mixin avec une variable
      width: $part-w * 3;
      height: $part-w * 3;
    }
    @include media-min(desktop) {
      //TODO voir pour faire un mixin avec une variable
      width: $part-w * 1;
      height: $part-w * 1;
      margin-right: $gutter * 2;
    }
  }
}
