.home {
  &__top {
    background: linear-gradient(
      90deg,
      darken($color-main, 2%),
      lighten($color-main, 2%)
    );
    padding-bottom: $gutter * 3;
  }
  &__first {
    background: linear-gradient(
      175deg,
      darken($color-main, 7%),
      darken($color-main, 5%)
    );
    padding: $gutter * 0.8 0;
    box-shadow: inset 0 1px 1px 1px darken($color-main, 10%);
  }
}

.location {
  width: 50%;
  @include flexrownocenter;
  margin: 0 auto;
  &__input {
    width: 40vw;
    height: 8vw;
    text-align: center;
    &:placeholder-shown {
      text-overflow: ellipsis;
    }
    @include media-min(tablet) {
      width: 30vw;
    }
    @include media-min(desktop) {
      width: 15vw;
    }
  }
}

.search {
  width: 100%;
  @include flexcolnocenter;
  &__title {
    margin: $gutter * 2 auto $gutter * 0.8 auto;
    width: 65%;
    text-align: center;
    @include media-min(desktop) {
      width: 15vw;
    }
  }
  &__content {
    @include flexcolnocenter;
    padding: 0 $gutter $gutter $gutter;
    margin-bottom: $gutter;
  }
  &__text {
    text-align: center;
  }
  &__button {
    margin: auto;
  }
}

.notice {
  margin: $gutter * 3 0;
  @include media-min(tablet) {
    width: 50vw;
    margin: $gutter * 3 auto;
  }
  &__title {
    padding: 0 $gutter;
  }
  &__steps {
    @include flexcolnocenter;
    align-items: center;
  }
  &__step {
    display: inline-block;
    width: 90%;
  }
  &__number {
    @include flexrownocenterdble;
    width: $gutter * 1.5;
    height: $gutter * 1.5;
    background-color: $color-primary;
    border-radius: 50%;
    color: $color-light;
    position: relative;
    top: $gutter * 3.4;
    left: $gutter * 0.3;
  }
  &__content {
    min-width: max-content;
    @include flexrowno;
    justify-content: flex-start;
    margin: $gutter * 0.2 $gutter;
    padding: $gutter * 2 $gutter $gutter * 1.5 $gutter * 2;
    border-radius: 20px;
    @include shadow;
    background-color: $color-main;
    &--dif {
      background: linear-gradient(
        175deg,
        lighten($color-primary, 33%),
        lighten($color-primary, 35%)
      );
    }
  }
  &__icone {
    padding-right: $gutter;
    color: darken($color-main, 50%);
  }
}

.restaurants {
  background: linear-gradient(
    darken($color-main, 2%),
    lighten($color-main, 2%)
  );
  padding: $gutter * 3.2 $gutter;
  &__wrapper {
    @include media-min(desktop) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
  }
}
.restaurant {
  &__card {
    width: 90vw;
    height: 70vw;
    margin: $gutter auto;
    overflow: hidden;
    border-radius: 20px;
    background-color: $color-light;
    @include shadow;
    @include media-min(tablet) {
      height: 50vw;
    }
    @include media-min(tabletxl) {
      width: 70vw;
      height: 30vw;
    }
    @include media-min(desktop) {
      width: 40vw;
      height: 20vw;
    }
    position: relative;
  }
  &__link {
    width: 100%;
    height: 100%;
  }
  &__image {
    width: 100%;
    height: 50vw;
    overflow: hidden;
    @include media-min(tablet) {
      height: 40vw;
    }
    @include media-min(tabletxl) {
      height: 20vw;
    }
    @include media-min(desktop) {
      height: 14vw;
    }
  }
  //placement des images sur les cartes des restaurants
  &__picture {
    &--1 {
      width: 103%;
      object-position: -2vw -12vw;
      @include media-min(desktop) {
        object-position: 0vw -10vw;
      }
    }
    &--2 {
      width: 100%;
      object-position: 0 -40vw;
      @include media-min(desktop) {
        object-position: 0vw -22vw;
      }
    }
    &--3 {
      width: 110%;
      object-position: -2vw -16vw;
      @include media-min(desktop) {
        object-position: -1vw -12vw;
      }
    }
    &--4 {
      width: 104%;
      object-position: -2vw -14vw;
      @include media-min(desktop) {
        object-position: -2vw -12vw;
      }
    }
  }
  &__tag {
    display: inline;
    border-radius: 2px;
    width: max-content;
    padding: $gutter * 0.4 $gutter;
    position: absolute;
    top: 3vw;
    right: 2vw;
    text-align: center;
    &--new {
      background-color: $color-tertiary;
    }
  }
  //bas de la carte restaurant
  &__content {
    height: 20vw;
    //
    @include flexrownobtw;
    align-items: center;
    padding: $gutter;
    @include media-min(tablet) {
      height: 10vw;
    }
    @include media-min(tabletxl) {
      padding: $gutter * 1.2;
    }
    @include media-min(desktop) {
      height: 5vw;
    }
  }
  &__text {
    height: 85%;
    @include flexcolno;
    justify-content: space-evenly;
    @include media-min(desktop) {
      margin-left: $gutter * 2;
    }
  }
  // favori
  &__icon {
    width: 5vw;
    height: 5vw;
    @include media-min(tablet) {
      width: 4vw;
      height: 4vw;
    }
    @include media-min(tabletxl) {
      width: 3vw;
      height: 3vw;
    }
    @include media-min(desktop) {
      width: 1vw;
      height: 1vw;
      margin-right: $gutter * 2;
    }
  }
}
