.location{
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: $gutter*0.5 0;
  // TODO le foncer et faire un gradient
  background-color: $color-bg-main;
  &__button {
    padding-right: $gutter*1.1;
  }
}

.card {
  width: 98vw;
  height: 40vh;
  margin: $gutter;
  overflow: hidden;
  border-radius: 20px;
  &__image {
    width: 100%;
    height: 75%;
    overflow: hidden;
  }
}