.loader {
  @keyframes loader {
    0% {
      width: 100vw;
      height: 100vh;
    }
    99% {
      width: 100vw;
      height: 100vh;
    }
    100% {
      display: none;
    }
  }
  animation: loader 3000ms ease-in-out backwards;
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    @keyframes loader-wrapper {
      0% {
        width: 50vw;
        height: 50vw;
      }
      99% {
        width: 50vw;
        height: 50vw;
      }
      100% {
        display: none;
      }
    }
    animation: loader-wrapper 2900ms ease-in-out;
  }
  &__flatware {
    @keyframes flatware {
      0% {
        width: 50vw;
        height: 50vw;
        transform: rotate(0deg);
        filter: blur(8vw);
      }
      5% {
        filter: blur(5vw);
      }
      15% {
        filter: blur(4vw);
      }
      25% {
        filter: blur(3vw);
      }
      55% {
        filter: blur(2vw);
      }
      70% {
        filter: blur(1vw);
      }
      90% {
        filter: blur(0);
      }
      99% {
        width: 50vw;
        height: 50vw;
        transform: rotate(1080deg);
      }
      100% {
        display: none;
      }
    }
    background-image: url("public/forkandknifeneon.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: flatware 2800ms ease-in-out backwards;
  }
  &__text {
    @keyframes loader-text {
      0% {
        width: 50vw;
        height: 30vw;
      }
      99% {
        width: 50vw;
        height: 30vw;
      }
      100% {
        display: none;
      }
    }
    background-color: transparent;
    margin-top: 5vw;
    animation: loader-text 3000ms ease-in-out backwards;
  }
  &__openingsoon {
    position: relative;
    top: 0;
    background-image: url("public/openingsoonneon.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: appearance 3000ms ease-in-out backwards;
  }
  &__nowserving {
    position: relative;
    top: 0;
    background-image: url("public/nowservingneon.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: appearance 2600ms ease-in-out 300ms reverse backwards;
  }
}

@keyframes appearance {
  0% {
    width: 50vw;
    height: 30vw;
    transform: scale(1.1);
    opacity: 1;
  }
  2% {
    width: 50vw;
    height: 30vw;
    transform: scale(1.1);
  }
  80% {
    filter: blur(0);
  }
  90% {
    filter: blur(1vw);
  }
  99% {
    transform: scale(0);
    opacity: 0.5;
    filter: blur(2vw);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.home {
  &__top {
    background: linear-gradient(
      90deg,
      darken($color-main, 2%),
      lighten($color-main, 2%)
    );
    padding-bottom: $gutter * 3;
  }
  &__first {
    background: linear-gradient(
      175deg,
      darken($color-main, 7%),
      darken($color-main, 5%)
    );
    padding: $gutter * 0.8 0;
    box-shadow: inset 0 1px 1px 1px darken($color-main, 10%);
  }
}

.location {
  width: 75%;
  @include flexrowno;
  justify-content: center;
  margin: 0 auto;
  &__button {
    padding-right: $gutter * 0.8;
  }
  //TODO faire fonctionner la weight dans l'input
  &__input {
    width: 50%;
    font-weight: $weight-middle;
  }
}

.search {
  width: 100vw;
  @include flexcolno;
  justify-content: center;
  &__title {
    margin: $gutter * 2 auto $gutter * 0.8 auto;
    width: 65%;
    @include typography-subtitle;
    text-align: center;
  }
  &__content {
    @include flexcolno;
    justify-content: center;
    padding: 0 $gutter $gutter $gutter;
    margin-bottom: $gutter;
  }
  &__text {
    text-align: center;
  }
  &__button {
    margin: auto;
  }
}

.notice {
  margin: $gutter * 3 0;
  &__title {
    @include typography-subtitle;
    padding: 0 $gutter;
  }
  &__steps {
    @include flexcolno;
    justify-content: center;
    align-items: center;
  }
  &__step {
    display: inline-block;
    width: 90%;
  }
  &__number {
    @include stepnumber;
    position: relative;
    top: $gutter * 3.4;
    left: $gutter * 0.3;
  }
  &__content {
    @include stepcontent;
    background-color: $color-main;
    &--dif {
      background: linear-gradient(
        175deg,
        lighten($color-primary, 33%),
        lighten($color-primary, 35%)
      );
    }
  }
  &__icone {
    padding-right: $gutter;
    color: darken($color-main, 50%);
  }
}

.restaurants {
  background: linear-gradient(
    darken($color-main, 2%),
    lighten($color-main, 2%)
  );
  padding: $gutter * 3.2 $gutter;
  &__title {
    @include typography-subtitle;
  }
}
.restaurant {
  &__card {
    @include card;
  }
  &__link {
    width: 100%;
    height: 100%;
  }
  &__image {
    width: 100%;
    height: 50vw;
    overflow: hidden;
  }
  &__picture {
    &--1 {
      width: 103%;
      object-position: -2vw -12vw;
    }
    &--2 {
      width: 100%;
      object-position: 0 -40vw;
    }
    &--3 {
      width: 110%;
      object-position: -2vw -16vw;
    }
    &--4 {
      width: 104%;
      object-position: -2vw -14vw;
    }
  }
  &__tag {
    @include tag;
    &--new {
      @include tagnew;
    }
  }
  &__content {
    height: 12vw;
    @include flexrowno;
    justify-content: space-between;
    align-items: center;
    padding: 0 $gutter;
  }
  &__text {
    height: 100%;
  }
  &__title {
    @include typography-subtitle;
    padding-bottom: $gutter * 0.5;
  }
  &__icon {
    position: relative;
    right: -77vw;
    top: -10vw;
    width: 2rem;
    height: 2rem;
  }
}
