.loader {
  @keyframes appearance {
    0% {
      width: 50vw;
      height: 30vw;
      transform: scale(1.1);
      opacity: 1;
    }
    2% {
      width: 50vw;
      height: 30vw;
      transform: scale(1.1);
    }
    80% {
      filter: blur(0);
    }
    90% {
      filter: blur(1vw);
    }
    99% {
      transform: scale(0);
      opacity: 0.5;
      filter: blur(2vw);
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  @keyframes loader {
    0% {
      width: 100vw;
      height: 100vh;
    }
    99% {
      width: 100vw;
      height: 100vh;
    }
    100% {
      display: none;
    }
  }
  animation: loader 3000ms ease-in-out backwards;
  &__container {
    width: 100%;
    height: 100%;
    @include flexcolno;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    @keyframes loader-wrapper {
      0% {
        width: 50vw;
        height: 50vw;
      }
      99% {
        width: 50vw;
        height: 50vw;
      }
      100% {
        display: none;
      }
    }
    animation: loader-wrapper 2900ms ease-in-out;
  }
  &__flatware {
    @keyframes flatware {
      0% {
        width: 50vw;
        height: 50vw;
        transform: rotate(0deg);
        filter: blur(8vw);
      }
      5% {
        filter: blur(5vw);
      }
      15% {
        filter: blur(4vw);
      }
      25% {
        filter: blur(3vw);
      }
      55% {
        filter: blur(2vw);
      }
      70% {
        filter: blur(1vw);
      }
      90% {
        filter: blur(0);
      }
      99% {
        width: 50vw;
        height: 50vw;
        transform: rotate(1080deg);
      }
      100% {
        display: none;
      }
    }
    background-image: url("public/forkandknifeneon.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: flatware 2800ms ease-in-out backwards;
  }
  &__text {
    @keyframes loader-text {
      0% {
        width: 50vw;
        height: 30vw;
      }
      99% {
        width: 50vw;
        height: 30vw;
      }
      100% {
        display: none;
      }
    }
    background-color: transparent;
    margin-top: 5vw;
    animation: loader-text 3000ms ease-in-out backwards;
  }
  &__openingsoon {
    position: relative;
    top: 0;
    background-image: url("public/openingsoonneon.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: appearance 3000ms ease-in-out backwards;
  }
  &__nowserving {
    position: relative;
    top: 0;
    background-image: url("public/nowservingneon.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: appearance 2600ms ease-in-out 300ms reverse backwards;
  }
}
