.loader {
  width: 100vw;
  height: 100vh;
  &__container {
    width: 100vw;
    height: 100vh;
    @include flexcolno;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    width: 40vw;
    height: 40vw;
  }
  &__flatware {
    @keyframes flatware {
      0% {
        width: 100%;
        height: 100%;
        transform: rotate(0deg);
        filter: blur(8vw);
      }
      5% {
        filter: blur(5vw);
      }
      15% {
        filter: blur(4vw);
      }
      25% {
        filter: blur(3vw);
      }
      55% {
        filter: blur(2vw);
      }
      70% {
        filter: blur(1vw);
      }
      90% {
        filter: blur(0);
      }
      100% {
        width: 100%;
        height: 100%;
        transform: rotate(1080deg);
      }
    }
    background-image: url("public/forkandknifeneon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: flatware 2000ms ease-in-out;
  }
  &__text {
    width: 50vw;
    height: 30vw;
    background-color: transparent;
    margin-top: 2vw;
  }
  @keyframes appearance {
    0% {
      width: 100%;
      height: 100%;
      transform: scale(1);
      opacity: 1;
    }
    2% {
      width: 100%;
      height: 100%;
      transform: scale(1);
    }
    80% {
      filter: blur(0);
    }
    90% {
      filter: blur(1vw);
    }
    99% {
      transform: scale(0);
      opacity: 0.5;
      filter: blur(2vw);
    }
    100% {
      transform: scale(0);
      opacity: 0;
      display: none;
    }
  }
  &__openingsoon {
    position: relative;
    top: 0;
    background-image: url("public/openingsoonneon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: appearance 2000ms ease-in-out;
  }
  &__nowserving {
    position: relative;
    top: 0;
    background-image: url("public/nowservingneon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: appearance 1900ms ease-in-out reverse 100ms;
  }
}
