.main {
  &__menu {
    background-color: darken($color-main, 3%);
  }
}

.menu {
  &__image {
    width: 100vw;
    height: 41vh;
    overflow: hidden;
    background-repeat: no-repeat;
    &--palettedugout {
      background-image: url("public/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
      background-size: 110%;
    }
    &--alafrancaise {
      background-image: url("public/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
      background-size: 110%;
      background-position: -8vw -0.5vh;
    }
    &--lanoteenchantee {
      background-image: url("public/stil-u2Lp8tXIcjw-unsplash.jpg");
      background-size: 100%;
      background-position: 50% 50%;
    }
    &--delicedessens {
      background-image: url("public/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
      background-size: 110%;
      background-position: 50% 40%;
    }
  }
  &__picture {
    width: 100%;
    object-fit: cover;
    position: absolute;
  }
  &__content {
    box-sizing: border-box;
    width: 100%;
    background-color: darken($color-main, 3%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: $gutter * 3 $gutter 0 $gutter;
    position: relative;
    top: -8vh;
  }
  &__title {
    @include typography-title;
    font-size: $size-title;
    @include flexrowno;
    justify-content: space-between;
    padding-bottom: $gutter * 1.2;
    @include media-min(tablet) {
      padding: $gutter;
    }
  }
  &__wrapper {
    @include media-min(desktop) {
      @include flexrowno;
      justify-content: space-around;
    }
  }
  &__type {
    text-transform: uppercase;
    padding: $gutter * 0.5 0;
    @include media-min(tablet) {
      padding: $gutter * 0.5 $gutter;
    }
  }
  &__underline {
    width: $gutter * 2.5;
    height: 3px;
    background-color: $color-tertiary;
    @include media-min(tablet) {
      margin: 0 $gutter;
    }
  }
  @keyframes card-animation {
    0% {
      opacity: 0;
      margin-top: 10%;
    }
    100% {
      opacity: 1;
      margin-top: 5%;
    }
  }
  &__card {
    position: relative;
    background-color: $color-light;
    margin: $gutter 0;
    border-radius: 15px;
    height: 20vw;
    @include flexrowno;
    justify-content: space-between;
    overflow: hidden;
    opacity: 0;
    &:hover {
      @keyframes choice-animation {
        0% {
          position: absolute;
        }
        99% {
          position: absolute;
        }
        100% {
          position: relative;
        }
      }
      & .menu__choice {
        transition: right 400ms ease-in-out 50ms;
        animation: choice-animation 400ms ease-in-out;
        position: relative;
        right: 0;
      }
      & .menu__v {
        transition: transform 700ms ease-in-out;
        transform: rotate(360deg);
      }
    }
    @include media-min(tablet) {
      width: 80vw;
      height: 10vw;
      margin: $gutter auto;
    }
    @include media-min(desktop) {
      width: 30vw;
      height: 7vw;
    }
    &--1 {
      @include card-animation;
      animation-delay: nth($card-opacity-delai, 1);
    }
    &--2 {
      @include card-animation;
      animation-delay: nth($card-opacity-delai, 2);
    }
    &--2 {
      @include card-animation;
      animation-delay: nth($card-opacity-delai, 2);
    }
    &--3 {
      @include card-animation;
      animation-delay: nth($card-opacity-delai, 3);
    }
    &--4 {
      @include card-animation;
      animation-delay: nth($card-opacity-delai, 4);
    }
    &--5 {
      @include card-animation;
      animation-delay: nth($card-opacity-delai, 5);
    }
    &--6 {
      @include card-animation;
      animation-delay: nth($card-opacity-delai, 6);
    }
    &--7 {
      @include card-animation;
      animation-delay: nth($card-opacity-delai, 7);
    }
    &--8 {
      @include card-animation;
      animation-delay: nth($card-opacity-delai, 8);
    }
    &--9 {
      @include card-animation;
      animation-delay: nth($card-opacity-delai, 9);
    }
    &--10 {
      @include card-animation;
      animation-delay: nth($card-opacity-delai, 10);
    }
  }
  &__item {
    min-width: 0;
    padding: $gutter;
    width: 100%;
    display: flex;
  }
  &__info {
    min-width: 0;
    width: 100%;
    @include flexcolno;
    justify-content: space-between;
  }
  &__dish {
    @include typography-subtitle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: $gutter * 0.7;
  }
  &__detail {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__price {
    font-weight: $weight-subtitle;
    align-self: flex-end;
  }
  &__choice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    background-color: $color-tertiary;
    position: absolute;
    right: -100%;
    transition: position 400ms, right 800ms ease-in-out 50ms;
    @include media-min(tablet) {
      height: 10vw;
    }
    @include media-min(desktop) {
      height: 7vw;
    }
  }
  &__checkbox {
    opacity: 0;
    position: absolute;
  }
  &__check {
    width: $gutter * 1.3;
    height: $gutter * 1.3;
    margin: 0 $gutter * 1.3;
    border-radius: 50%;
    background-color: $color-light;
    color: $color-tertiary;
    @include flexrowno;
    justify-content: center;
    align-items: center;
  }
  &__button {
    @include flexrowno;
    justify-content: center;
  }
}
