// TODO revérifier le validateur
.main {
  &__menu {
    background-color: darken($color-main, 3%);
  }
}

.menu {
  // placement des images pour chaque restaurant
  &__image {
    width: $propor * 100;
    height: $part-h * 41;
    overflow: hidden;
    background-repeat: no-repeat;
    &--palettedugout {
      background-image: url("public/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
      background-size: $propor * 110;
    }
    &--alafrancaise {
      background-image: url("public/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
      background-size: $propor * 110;
      background-position: $part-w * -8 $part-h * -0.5;
    }
    &--lanoteenchantee {
      background-image: url("public/stil-u2Lp8tXIcjw-unsplash.jpg");
      background-size: $propor * 100;
      background-position: $propor * 50 $propor * 50;
    }
    &--delicedessens {
      background-image: url("public/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
      background-size: $propor * 110;
      background-position: $propor * 50 $propor * 40;
    }
  }
  &__picture {
    width: $propor * 100;
    object-fit: cover;
    position: absolute;
  }
  &__content {
    box-sizing: border-box;
    width: $propor * 100;
    background-color: darken($color-main, 3%);
    border-top-left-radius: $px * 50;
    border-top-right-radius: $px * 50;
    padding: $gutter * 3 $gutter 0 $gutter;
    position: relative;
    top: $part-h * -8;
  }
  &__title {
    @include flexrownobtw;
    padding-bottom: $gutter * 1.2;
    @include media-min(tablet) {
      padding: $gutter;
    }
  }
  &__wrapper {
    @include media-min(desktop) {
      @include flexrowno;
      justify-content: space-around;
    }
  }
  &__type {
    padding: $gutter * 0.5 0;
    @include media-min(tablet) {
      padding: $gutter * 0.5 $gutter;
    }
  }
  &__underline {
    width: $gutter * 2.5;
    height: $px * 3;
    background-color: $color-tertiary;
    @include media-min(tablet) {
      margin: $gutter * 0 $gutter;
    }
  }
  &__card {
    position: relative;
    background-color: $color-light;
    margin: $gutter $gutter * 0;
    border-radius: $px * 15;
    height: $part-w * 20;
    opacity: 0;
    @include flexrownobtw;
    overflow: hidden;
    @include media-max(mobilexs) {
      height: $part-h * 15;
    }
    @include media-min(mobile-landscape) {
      height: $part-w * 15;
    }
    @include media-min(mobilexl) {
      width: $part-w * 90;
      height: $part-w * 12;
      margin: $gutter auto;
    }
    @include media-min(tablet) {
      width: $part-w * 80;
      height: $part-w * 10;
    }
    @include media-min(desktop) {
      width: $part-w * 30;
      height: $part-w * 7;
    }
    //transition au hover sur la carte en vue desktop
    &:hover {
      & .menu__dish {
        @include media-min(desktop) {
          transition: width 800ms ease-in-out 50ms;
          width: $propor * 90;
        }
      }
      & .menu__detail {
        @include media-min(desktop) {
          transition: width 1000ms ease-in-out 50ms;
          width: $propor * 70;
        }
      }
      & .menu__price {
        @include media-min(desktop) {
          transform: translatex(-220%);
          transition: transform 800ms ease-in-out;
        }
      }
      & .menu__choice {
        @include media-min(desktop) {
          transition: transform 800ms ease-in-out 50ms;
          transform: translatex(-100%);
        }
      }
      & .menu__v {
        @include media-min(desktop) {
          transition: transform 850ms ease-out;
          transform: rotate(360deg);
        }
      }
    }
    // TODO ne fonctionne pas comme il faut---------------------------------------
    //transition au focus sur la carte en vue mobile et tablette
    &:hover {
      & .menu__dish {
        @include media-max(desktop) {
          transition: width 800ms ease-in-out 50ms;
          width: $propor * 80;
        }
        @include media-max(mobilexs) {
          width: $propor * 75;
        }
      }
      & .menu__detail {
        @include media-max(desktop) {
          transition: width 1000ms ease-in-out 50ms;
          width: $propor * 70;
        }
        @include media-max(mobilexs) {
          width: $propor * 50;
        }
      }
      & .menu__price {
        @include media-max(desktop) {
          transform: translatex(-220%);
          transition: transform 800ms ease-in-out;
        }
      }
      & .menu__choice {
        @include media-max(desktop) {
          transition: transform 800ms ease-in-out 50ms;
          transform: translatex(-100%);
        }
      }
      & .menu__v {
        @include media-max(desktop) {
          transition: transform 850ms ease-out;
          transform: rotate(360deg);
        }
      }
    }
    //TODO --------------------------------------------
    // animation d'apparition de la carte
    @keyframes card-animation {
      0% {
        opacity: 0;
        margin-top: $propor * 10;
      }
      100% {
        opacity: 1;
        margin-top: $propor * 5;
      }
    }
    &--1 {
      @include card-animation(1);
    }
    &--2 {
      @include card-animation(2);
    }
    &--3 {
      @include card-animation(3);
    }
    &--4 {
      @include card-animation(4);
    }
    &--5 {
      @include card-animation(5);
    }
    &--6 {
      @include card-animation(6);
    }
    &--7 {
      @include card-animation(7);
    }
    &--8 {
      @include card-animation(8);
    }
    &--9 {
      @include card-animation(9);
    }
    &--10 {
      @include card-animation(10);
    }
  }
  &__item {
    @include width0-100;
    padding: $gutter;
    display: flex;
  }
  &__info {
    @include width0-100;
    @include flexcolno;
    justify-content: space-between;
  }
  &__dish {
    @include text-cut;
    padding-bottom: $gutter * 0.7;
    width: $propor * 100;
  }
  &__detail {
    @include text-cut;

    width: $propor * 85;
    transition: width 1000ms ease-in-out 50ms;
  }
  &__price {
    align-self: flex-end;
    position: absolute;
    right: 0;
    margin-right: $gutter;
    transform: translatex(0);
    transition: transform 1000ms ease-in-out 50ms;
  }
  &__choice {
    @include flexrownocenterdble;
    height: $part-w * 20;
    background-color: $color-tertiary;
    position: absolute;
    left: $propor * 100;
    transform: translatex(0);
    transition: transfrom 1000ms ease-in-out 50ms;
    @include media-max(mobilexs) {
      height: $part-h * 15;
    }
    @include media-min(mobile-landscape) {
      height: $part-w * 15;
    }
    @include media-min(mobilexl) {
      height: $part-w * 12;
    }
    @include media-min(tablet) {
      height: $part-w * 10;
    }
    @include media-min(desktop) {
      height: $part-w * 7;
    }
  }
  &__checkbox {
    opacity: 0;
    position: absolute;
  }
  &__check {
    width: $gutter * 1.3;
    height: $gutter * 1.3;
    margin: 0 $gutter * 1.3;
    border-radius: $propor * 50;
    background-color: $color-light;
    @include flexrownocenterdble;
  }
  &__button {
    @include flexrownocenter;
  }
}
