@mixin typography-content {
	font-family: $font-content;
	font-weight: $weight-content;
}

@mixin typography-title {
	font-family: $font-title;
	font-weight: $weight-title;
	text-align: left;
}

@mixin typography-subtitle {
	font-family: $font-content;
	font-weight: $weight-title;
	font-size: $size-subtitle;
}

@mixin button {
	width: 75%;
	min-width: min-content;
	max-width: 100px;
	height: 2.5rem;
	margin: $gutter * 2 $gutter;
	padding: $gutter * 0.8 $gutter * 1.2;
	border-radius: 50px;
	color: $color-text-light;
	background: linear-gradient(175deg, $color-secondary, $color-primary);
	text-align: center;
	vertical-align: middle;
	box-shadow: 0 3px 4px 2px darken($color-bg-main, 7%);
}

@mixin flexrowno {
	display: flex;
	flex-flow: row nowrap;
}

@mixin flexcolno {
	display: flex;
	flex-flow: column nowrap;
}

@mixin stepcontent {
	min-width: max-content;
	@include flexrowno;
	justify-content: flex-start;
	margin: $gutter * 0.2 $gutter;
	padding: $gutter * 2 $gutter $gutter * 1.5 $gutter * 2;
	border-radius: 20px;
	box-shadow: 1px 2px 5px 3px darken($color-bg-main, 4%);
	font-weight: $weight-title;
}

@mixin stepnumber {
	display: flex;
	@include flexrowno;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	background-color: $color-primary;
	border-radius: 50%;
	color: $color-text-light;
}
