// mixins de typographie
@mixin typography-content {
  font-family: $font-content;
  font-weight: $weight-content;
}

@mixin typography-title {
  font-family: $font-title;
  font-weight: $weight-title;
  text-align: left;
}

@mixin typography-subtitle {
  font-family: $font-content;
  font-weight: $weight-subtitle;
  font-size: $size-subtitle;
}

//mixins de positionnement
@mixin flexrowno {
  display: flex;
  flex-flow: row nowrap;
}

@mixin flexrownobtw {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

@mixin flexrownocenter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

@mixin flexrownocenterdble {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flexcolno {
  display: flex;
  flex-flow: column nowrap;
}

@mixin flexcolnocenter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

@mixin relat-top-0 {
  position: relative;
  top: 0;
}

//mixins de tailles
@mixin fullscreen {
  width: $part-w * 100;
  height: $part-h * 100;
}

@mixin fullbox {
  width: $propor * 100;
  height: $propor * 100;
}

@mixin text-cut {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin width0-100 {
  min-width: 0;
  width: 100%;
}

//mixins de couleurs
@mixin shadow {
  box-shadow: 0 3px 4px 2px darken($color-main, 7%);
}

@mixin shadowdark {
  box-shadow: 0 3px 4px 2px darken($color-main, 15%);
}

//mixin d'animation

@mixin card-animation($key) {
  animation-name: card-animation;
  animation-fill-mode: forwards;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
  animation-delay: nth($card-opacity-delai, $key);
}

// mixins responsives
@mixin media-min($_key) {
  @media screen and (min-width: map-get($breackpoints, $_key)) {
    & {
      @content;
    }
  }
}
@mixin media-max($_key) {
  @media screen and (max-width: map-get($breackpoints, $_key)) {
    & {
      @content;
    }
  }
}

//mixin bacground
@mixin bg-cent-cont-norep {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
