// color
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-text-body: black;
$color-text-footer: white;

// background-color
$color-bg-footer: black;
$color-bg-main: #eaeaea;

// typography
$font-title: 'Shrikhand',
cursive;
$font-content: 'Roboto',
sans-serif;

// font-weight
$weight-title: 700;
$weight-content: 100;
$weight-middle: 400;

//gutter
$gutter: 1rem;