// color
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-dark: black;
$color-light: white;
$color-main: #f6f6f6;

//tailles et proportions
$part-w: 1vw;
$part-h: 1vh;
$gutter: 1rem;
$px: 1px;
$propor: 1%;

// typography
$font-title: "Shrikhand", cursive;
$font-content: "Roboto", sans-serif;

// font-weight
$weight-title: 500;
$weight-subtitle: 700;
$weight-content: 300;

//font-size
$size-title: $gutter * 1.6;
$size-subtitle: $gutter * 1.2;
$size-content: $gutter;
$size-small: $gutter * 0.7;
$size-info: $gutter * 0.9;

//animation
$card-opacity-delai: 0ms 250ms 500ms 750ms 1000ms 1250ms 1500ms 1750ms 2000ms
  2250ms;

$card-opacity-delai2: (
  1: 0ms,
  2: 250ms,
  3: 500ms,
  4: 750ms,
  5: 1000ms,
  6: 1250ms,
  7: 1500ms,
  8: 1750ms,
  9: 2000ms,
  10: 2250ms,
);

//responsive
$breackpoints: (
  mobilexs: 374px,
  mobile-landscape: 500px,
  mobilexl: 640px,
  tablet: 768px,
  tabletxl: 1024px,
  desktop: 1280px,
  desktopxl: 1536px,
);
