.footer {
  background-color: lighten($color-dark, 20%);
  &__title {
    width: max-content;
    @include media-min(desktop) {
      margin: $gutter * 0 auto $gutter auto;
      padding-top: $gutter;
    }
  }
  &__logo {
    width: $part-w * 40;
    padding: $gutter * 1.2 $gutter $gutter * 0.3 $gutter * 1.5;
    @include media-min(tablet) {
      width: $part-w * 20;
    }
  }

  &__list {
    padding: $gutter * 0.5 $gutter $gutter * 2.5 $gutter * 1.5;
    @include media-min(desktop) {
      @include flexrowno;
      justify-content: space-evenly;
    }
  }

  &__item {
    padding: $gutter * 0.4;
  }
}
