.header {
  &--home {
    @include flexrowno;
    justify-content: center;
    align-items: center;
    margin-top: $gutter * 1.3;
  }
  &__wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 70vw;
    padding: $gutter 0;
  }
  &__link {
    margin: auto $gutter * 1.5;
  }
  &__title {
    &--home {
      display: flex;
      justify-content: center;
      padding-bottom: $gutter;
    }
    &--restaurant {
      justify-self: start;
      align-self: center;
    }
  }
  &__logo {
    width: 50vw;
    @include media-min(tabletxl) {
      width: 40vw;
    }
    @include media-min(desktop) {
      width: 30vw;
    }
  }
}
